:root {
  --background-color: #ffffff;
  --active-link-color: #2196f3;
  --title-text-color: #212121;
  --text-color: #757575;
}
/* Teg's styles */
header {
  border-bottom: 1px solid #ececec;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--background-color);
}
button {
  font-family: Roboto, sans-serif;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
h2,
h3 {
  color: var(--title-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

/* Hidden elements */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}
/* Logotype */
.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.web {
  color: var(--active-link-color);
}

/* Navigation */
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav-item + .site-nav-item {
  margin-left: 50px;
}
.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current-link {
  position: relative;

  color: var(--active-link-color);
}
.current-link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--active-link-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: absolute;
  left: 0;
  bottom: -1px;
  opacity: 1;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav-item + .auth-nav-item {
  margin-left: 30px;
}
.auth-nav-item {
  display: flex;
  align-items: center;
}
.auth-nav-icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.contact-link:hover,
.nav-link:focus,
.contact-link:focus {
  color: var(--active-link-color);
}

/* Heading */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
  text-align: center;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../Images/Hero/image_hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  margin: 0 auto 30px auto;

  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  line-height: 1.36;
  font-size: 44px;
  width: 696px;
}
.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Overlay */
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

/* Modal */
.modal {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal > .close-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--active-link-color);
}

.modal-form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  padding: 0px 40px 40px 40px;
}
.modal-form > h4 {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.form-field {
  position: relative;
  display: flex;
}
.fill-form {
  margin-bottom: 20px;
}
.fill-form > .form-field:not(:last-child) {
  margin-bottom: 10px;
}
.fill-form > .form-field {
  flex-direction: column-reverse;
}
.fill-form > .form-field > label {
  margin-bottom: 4px;

  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.fill-form > .form-field > input {
  height: 38px;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.fill-form > .form-field > input:focus {
  outline: 0;
  border: 1px solid var(--active-link-color);
}
.fill-form-icon {
  position: absolute;
  top: calc(50% + 18.03px);
  left: 12px;
  transform: translateY(calc(-50% - 18.03px / 2));
}
.fill-form > .form-field > input:focus ~ .fill-form-icon {
  fill: var(--active-link-color);
}
.fill-form > .form-field > textarea {
  resize: none;

  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.fill-form > .form-field > textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.fill-form > .form-field > textarea:focus {
  outline: 0;
  border: 1px solid var(--active-link-color);
}

.policy {
  position: relative;
  margin-bottom: 30px;
  justify-content: center;
}
.policy > input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.policy > label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
.policy > label > a {
  text-decoration: underline;
  color: var(--active-link-color);
}
.policy > label::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1.75px solid var(--title-text-color);
  border-radius: 2px;
}
.policy > input:checked + label::before {
  border: 0;
  background-image: url(../Images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.modal-form > button {
  padding: 10px 55px 10px 56px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form > button:hover,
.modal-form > button:focus {
  background-color: #188ce8;
}

/* Features section */
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}
.features-list-item {
  width: 270px;
}
.features-list-item > div {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.features-list-item + .features-list-item {
  margin-left: 30px;
}
.features-headings {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* What we are doing section */
.what-we-are-doing {
  padding-bottom: 94px;
}
.webstudio-h2 {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.what-we-are-doing-list {
  display: flex;
}
.what-we-are-doing-list-item {
  width: 370px;
}
.what-we-are-doing-list-item + .what-we-are-doing-list-item {
  margin-left: 30px;
}
.what-we-are-doing-thumb {
  position: relative;
}
.what-we-are-doing-thumb > h3 {
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Our team section */
.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-list {
  display: flex;
}
.info-about-member {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  background-color: #ffffff;
}
.info-about-member + .info-about-member {
  margin-left: 30px;
}
.info-about-member-title {
  padding-top: 30px;
  padding-bottom: 30px;
}
.name-of-staff-member {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.proffesion {
  margin-bottom: 16px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-social-web-list {
  display: flex;
  justify-content: center;
}
.member-social-web-item + .member-social-web-item {
  margin-left: 10px;
}
.member-social-web-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.member-social-web-icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.member-social-web-link:hover,
.member-social-web-link:focus {
  background-color: var(--active-link-color);
}
.member-social-web-link:hover > svg,
.member-social-web-link:focus > svg {
  fill: #ffffff;
}

/* Regular customers */
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-customers-list {
  display: flex;
  justify-content: center;
}
.regular-customers-item + .regular-customers-item {
  margin-left: 30px;
}
.regular-customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-link:hover,
.regular-customers-link:focus {
  border: 1px solid var(--active-link-color);
}
.regular-customers-link:hover > svg,
.regular-customers-link:focus > svg {
  fill: var(--active-link-color);
}

/* Filters section */
.filters-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-buttons-item + .filter-buttons-item {
  margin-left: 8px;
}
.filter-button {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:focus,
.filter-button:hover {
  background-color: var(--active-link-color);
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter-info {
  display: flex;
  flex-wrap: wrap;
}
.filter-info-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.filter-info :nth-child(3n) {
  margin-right: 0px;
}
.filter-info :nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.filter-info-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-info-link:hover,
.filter-info-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.filter-info-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-info-link:hover > .filter-info-overlay > .overlay-text {
  transform: translateY(0%);
}
.filter-info-title {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
.filter-info .filter-project-name {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-project-type {
  color: var(--text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

/* Footer */
footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer-content {
  display: flex;
  align-items: baseline;
}

/* Footer Logo */
.footer-logo {
  display: inline-block;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

/* Address */
.footer-address {
  font-style: normal;
}
.address {
  display: block;
  margin-bottom: 0px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-link {
  display: block;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--active-link-color);
}

/* Join section */
.join-social-web-section {
  margin-left: 70px;
}
.join-social-web-section > h4 {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.join-social-web-list {
  display: flex;
  justify-content: center;
}
.join-social-web-item + .join-social-web-item {
  margin-left: 10px;
}
.join-social-web-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-social-web-icon {
  fill: #ffffff;
}
.join-social-web-link:hover,
.join-social-web-link:focus {
  background-color: var(--active-link-color);
}

/* Subscribe form */
.subscribe {
  margin-left: 93px;
}
.subscribe > h4 {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  align-items: center;
}
.subscribe-mail input {
  outline: 0;
  width: 358px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: #2f303a;
}

.subscribe-mail input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form > button {
  display: flex;
  align-items: center;

  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  border: none;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.icon-send {
  fill: #ffffff;
  margin-left: 10px;
}
